<!-- displaying form and comments-->

<a href="/homepage" class="is-pulled-right"> &larr; Return to Home</a>

<p>Post ID: {{ post.id }}</p>
<h3> {{ post.title }}</h3>
<p> {{ post.description }}</p>
{{!-- <p>User : {{ post.user_id }}</p> --}}
<p>Username: {{ post.User.username }}</p>

<!-- only display if logged in -->
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <input type="hidden" id="post-id" value='{{post.id}}' />
    <textarea class="ml-3" id="comment-body"></textarea>
  </div>

  <div>
    <button class="button is-warning ml-10 mb-12" type="submit">add comment</button>
  </div>
  
</form>
{{/if}}

 {{> comment-post comment=post.Comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}