

<!-- displaying form and comments-->

<h3>Post ID: {{ post.id }}</h3>
<h3>Title: {{ post.title }}</h3>
<h3>Description: {{ post.description }}</h3>
<h3>User: {{ post.user_id }}</h3>
<h3>Username: {{ post.User.username }}</h3>
<h3>Comments: {{ post.Comments.comment }}</h3>


<!-- only display if logged in -->
{{#if logged_in}}
<form class="comment-form">
  <div>
    <textarea class="ml-5" id="comment-body"></textarea>
  </div>

  <div>
    <button class="button is-warning ml-5 mb-5" type="submit">add comment</button>
  </div>
  
</form>
{{/if}}

 {{> comment }}

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}